In [6]:
!pip install sqlalchemy pymysql psycopg2-binary

Requirement already satisfied: sqlalchemy in c:\users\vinars\anaconda3\lib\site-packages (2.0.39)
Requirement already satisfied: pymysql in c:\users\vinars\anaconda3\lib\site-packages (1.1.2)
Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.11-cp313-cp313-win_amd64.whl.metadata (5.1 kB)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\vinars\anaconda3\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\vinars\anaconda3\lib\site-packages (from sqlalchemy) (4.12.2)
Downloading psycopg2_binary-2.9.11-cp313-cp313-win_amd64.whl (2.7 MB)
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   --- ------------------------------------ 0.3/2.7 MB ? eta -:--:--
   ------- -------------------------------- 0.5/2.7 MB 847.2 kB/s eta 0:00:03
   ------- -------------------------------- 0.5/2.7 MB 847.2 kB/s eta 0:00:03
   ------- -------------------------------- 0.5/2.7 MB 847.2 kB/s eta 0:00:03
   ------- -------------------------------- 0.5/2.7 MB 847.2 kB/s eta 0:00:03
   ------- -------------------------------- 0.5/2.7 MB 847.2 kB/s eta 0:00:03
   ----------- ---------------------------- 0.8/2.7 MB 436.1 kB/s eta 0:00:05
   --------------- ------------------------ 1.0/2.7 MB 502.2 kB/s eta 0:00:04
   --------------- ------------------------ 1.0/2.7 MB 502.2 kB/s eta 0:00:04
   ------------------- -------------------- 1.3/2.7 MB 529.9 kB/s eta 0:00:03
   ----------------------- ---------------- 1.6/2.7 MB 611.4 kB/s eta 0:00:02
   ----------------------- ---------------- 1.6/2.7 MB 611.4 kB/s eta 0:00:02
   --------------------------- ------------ 1.8/2.7 MB 632.0 kB/s eta 0:00:02
   ------------------------------ --------- 2.1/2.7 MB 638.7 kB/s eta 0:00:01
   ------------------------------ --------- 2.1/2.7 MB 638.7 kB/s eta 0:00:01
   ---------------------------------- ----- 2.4/2.7 MB 661.5 kB/s eta 0:00:01
   ---------------------------------------- 2.7/2.7 MB 714.2 kB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.11

In [7]:
from sqlalchemy import create_engine
import pandas as pd
engine = create_engine("mysql+pymysql://root:Dev0123@localhost:3306/customers_db")

Loading Retention View

In [ ]:
retention = pd.read_sql("SELECT * FROM retention_base", engine)

In [9]:
retention.head()

,user_id,signup_month,last_active_date,total_sessions,active_months,churned,churn_date
0,U00001,2023-02,2023-06-18 09:49:00,18,4,1,2023-05-03
1,U00002,2023-05,2023-09-18 00:17:00,10,3,0,None
2,U00003,2023-03,2023-07-11 18:56:00,19,5,0,None
3,U00004,2023-10,2024-02-02 09:12:00,13,5,1,2024-01-21
4,U00005,2023-08,2023-12-03 23:45:00,13,5,1,2023-10-08

Loading Sessions View

In [12]:
sessions = pd.read_sql("SELECT * FROM session_analytics", engine)

In [13]:
sessions.head()

,session_id,user_id,session_date,session_start,session_end,session_duration_minutes,pages_visited,source_channel,day_type
0,S0000001,U00001,2023-04-09,2023-04-09 17:08:00,2023-04-09 17:11:00,3,1,Referral,Weekend
1,S0000002,U00001,2023-05-31,2023-05-31 13:24:00,2023-05-31 13:25:00,1,11,Referral,Weekday
2,S0000003,U00001,2023-05-02,2023-05-02 03:04:00,2023-05-02 03:22:00,18,7,Paid,Weekday
3,S0000004,U00001,2023-03-17,2023-03-17 04:30:00,2023-03-17 04:31:00,1,18,Referral,Weekday
4,S0000005,U00001,2023-03-05,2023-03-05 18:42:00,2023-03-05 19:17:00,35,2,Referral,Weekend

Loading Feature Usage View

In [14]:
features = pd.read_sql("SELECT * FROM feature_usage_summary", engine)

In [15]:
features.head()

,user_id,total_feature_events,unique_features_used,top_feature_used,used_in_last_7_days
0,U00001,6,4,Advanced_Filter,0
1,U00002,9,5,Advanced_Filter,0
2,U00003,10,2,Wishlist,0
3,U00004,2,2,Advanced_Filter,0
4,U00005,2,2,Notifications,0

Loading churn view

In [16]:
churn = pd.read_sql("SELECT * FROM churn_analysis", engine)

In [17]:
churn.head()

,user_id,cancel_date,cancel_reason,plan_type,subscription_start_date,last_active_date,total_sessions_before_churn,feature_usage_before_churn
0,U00001,2023-05-03,Too Expensive,Free,2023-02-27,2023-06-18 09:49:00,11,3
1,U00004,2024-01-21,Too Expensive,Free,2023-10-07,2024-02-02 09:12:00,9,2
2,U00005,2023-10-08,Too Expensive,Free,2023-08-05,2023-12-03 23:45:00,5,2
3,U00006,2023-03-31,Not Useful,Free,2023-02-17,2023-06-04 18:47:00,6,1
4,U00018,2023-08-28,Too Expensive,Free,2023-07-13,2023-11-03 09:41:00,5,0