In [5]:
!pip install sqlalchemy pymysql psycopg2-binary

Requirement already satisfied: sqlalchemy in c:\users\vinars\anaconda3\lib\site-packages (2.0.39)
Requirement already satisfied: pymysql in c:\users\vinars\anaconda3\lib\site-packages (1.1.2)
Requirement already satisfied: psycopg2-binary in c:\users\vinars\anaconda3\lib\site-packages (2.9.11)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\vinars\anaconda3\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\vinars\anaconda3\lib\site-packages (from sqlalchemy) (4.12.2)

In [6]:
from sqlalchemy import create_engine
import pandas as pd
engine = create_engine("mysql+pymysql://root:Dev0123@localhost:3306/customers_db")

In [28]:
retention_df = pd.read_csv("C:/Users/VinArs/Documents/csvFiles/clean_retention.csv")
sessions_df = pd.read_csv("C:/Users/VinArs/Documents/csvFiles/clean_sessions.csv")
features_df = pd.read_csv("C:/Users/VinArs/Documents/csvFiles/clean_features.csv")
churn_df = pd.read_csv("C:/Users/VinArs/Documents/csvFiles/clean_churn.csv")

In [8]:
retention_df.head()

,user_id,signup_month,last_active_date,last_active_missing,total_sessions,active_months,has_sessions,churned,churn_date,customer_lifetime_days
0,U00001,2023-02-01,2023-06-18 09:49:00,0,18,4,1,1,2023-05-03,137
1,U00002,2023-05-01,2023-09-18 00:17:00,0,10,3,1,0,NaN,140
2,U00003,2023-03-01,2023-07-11 18:56:00,0,19,5,1,0,NaN,132
3,U00004,2023-10-01,2024-02-02 09:12:00,0,13,5,1,1,2024-01-21,124
4,U00005,2023-08-01,2023-12-03 23:45:00,0,13,5,1,1,2023-10-08,124

DATA CLEANING FOR RETENTION DATASET

cleaing date columns

In [23]:
retention_df['signup_month'] = pd.to_datetime(retention_df['signup_month'])

In [14]:
retention_df.head()

,user_id,signup_month,last_active_date,last_active_missing,total_sessions,active_months,has_sessions,churned,churn_date,customer_lifetime_days
0,U00001,2023-02-01,2023-06-18 09:49:00,0,18,4,1,1,2023-05-03,137
1,U00002,2023-05-01,2023-09-18 00:17:00,0,10,3,1,0,NaT,140
2,U00003,2023-03-01,2023-07-11 18:56:00,0,19,5,1,0,NaT,132
3,U00004,2023-10-01,2024-02-02 09:12:00,0,13,5,1,1,2024-01-21,124
4,U00005,2023-08-01,2023-12-03 23:45:00,0,13,5,1,1,2023-10-08,124

In [10]:
retention_df['last_active_date'] = pd.to_datetime(retention_df['last_active_date'])

In [11]:
retention_df['churn_date'] = pd.to_datetime(retention_df['churn_date'])

Flag missing last active

In [12]:
retention_df['last_active_missing'] = retention_df['last_active_date'].isna().astype(int)

flag sessions

In [16]:
retention_df['has_sessions'] = (retention_df['total_sessions'] > 0).astype(int)

Case 1: churn_flag = 1 but churn_date is NULL
→ inconsistent data → fix by setting churn_flag = 0

In [17]:
retention_df.loc[
    (retention_df['churned'] == 1) & (retention_df['churn_date'].isna()),
    'churned'
] = 0

In [18]:
retention_df.loc[
    (retention_df['churned'] == 0) & (retention_df['churn_date'].notna()),
    'churned'
] = 1

customers lifetime metric

In [24]:
retention_df['customer_lifetime_days'] = (
    retention_df['last_active_date'] - retention_df['signup_month']
).dt.days

In [25]:
retention_df['customer_lifetime_days'] = retention_df['customer_lifetime_days'].fillna(0)

exporting retention dataset

In [ ]:
retention_df.to_csv("clean_retention.csv", index=False)

SESSION DATA CLEANING

cleaning date columns

In [36]:
sessions_df['session_start'] = pd.to_datetime(sessions_df['session_start'])

In [ ]:
sessions_df.head()

In [37]:
sessions_df['session_end'] = pd.to_datetime(sessions_df['session_end'])

In [38]:
sessions_df['session_date'] = pd.to_datetime(sessions_df['session_date'])

removing missing session end and negative sessions

In [29]:
sessions_df = sessions_df[sessions_df['session_end'].notna()].copy()

In [ ]:
sessions_df = sessions_df[sessions_df['session_duration_minutes'] >= 0]

Remove extreme session durations

In [30]:
sessions_df = sessions_df[sessions_df['session_duration_minutes'] <= 720]

fixing pages visited columns

In [31]:
sessions_df = sessions_df[sessions_df['pages_visited'] >= 0]
sessions_df = sessions_df[sessions_df['pages_visited'] <= 200]  # reasonable limit

removing duplicate

In [32]:
sessions_df.drop_duplicates(subset='session_id', inplace=True)

deriving weekday and weekand

In [41]:
sessions_df['day_of_week'] = sessions_df['session_start'].dt.day_name()
sessions_df['is_weekend'] = sessions_df['day_type'].apply(lambda x: 1 if x == 'Weekend' else 0)

In [34]:
sessions_df.head()

,session_id,user_id,session_date,session_start,session_end,session_duration_minutes,pages_visited,source_channel,day_type,day_of_week,is_weekend,hour
0,S0000001,U00001,2023-04-09,2023-04-09 17:08:00,2023-04-09 17:11:00,3,1,Referral,Weekend,Sunday,1,17
1,S0000002,U00001,2023-05-31,2023-05-31 13:24:00,2023-05-31 13:25:00,1,11,Referral,Weekday,Wednesday,0,13
2,S0000003,U00001,2023-05-02,2023-05-02 03:04:00,2023-05-02 03:22:00,18,7,Paid,Weekday,Tuesday,0,3
3,S0000004,U00001,2023-03-17,2023-03-17 04:30:00,2023-03-17 04:31:00,1,18,Referral,Weekday,Friday,0,4
4,S0000005,U00001,2023-03-05,2023-03-05 18:42:00,2023-03-05 19:17:00,35,2,Referral,Weekend,Sunday,1,18

In [42]:
sessions_df['hour'] = sessions_df['session_start'].dt.hour

In [ ]:
sessions_df.to_csv("clean_sessions.csv", index=False)

In [40]:
sessions_df['session_start'].dtype

dtype('<M8[ns]')

In [ ]:
FEATURES DATA CLEANING

In [ ]:
Filling missing values

In [ ]:
features_df['total_feature_events'] = features_df['total_feature_events'].fillna(0)

In [ ]:
features_df['unique_features_used'] = features_df['unique_features_used'].fillna(0)

In [ ]:
features_df['top_feature_used'] = features_df['top_feature_used'].fillna("None")

In [ ]:
features_df['used_in_last_7_days'] = features_df['used_in_last_7_days'].astype(int)

In [ ]:
features_df.to_csv("clean_features.csv", index=False)

CLEANING CHURN DATASET

Fill missing values

In [ ]:
churn_df['cancel_date'] = pd.to_datetime(churn_df['cancel_date'])

Fill missing churn reason

In [ ]:
churn_df['cancel_reason'] = churn_df['cancel_reason'].fillna("Unknown")

Remove duplicates

In [ ]:
churn_df.drop_duplicates(subset='user_id', keep='first', inplace=True)

Keeping valid rows only

In [ ]:
churn_df = churn_df[churn_df['cancel_date'].notna()]

In [ ]:
churn_df.to_csv("clean_churn.csv", index=False)